@model CJEngine.ViewModel.CreateExperimentViewModel;

@{
    ViewData["Title"] = "Index";
}

<h4>Add Artefacts</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                File
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Artefacts) {
        <tr>
            <td id="artefact">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                <a asp-route-id="@item.Id" onclick="addArtefact()">Add</a> |
                <a  asp-route-id="@item.Id">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    function addArtefact() {
        var artefactName = document.getElementById("artefact").innerHTML;
        var node = document.createElement("li");
        var textNode = document.createTextNode(artefactName);
        node.appendChild(textNode);
        document.getElementById("selctedArtefacts").appendChild(node);
    }
</script>
