@model CJEngine.ViewModel.CreateExperimentViewModel;

@{
    ViewData["Title"] = "Index";
}

<h4>Add Artefacts</h4>

<table id="tblArtefact" class="col-md-10">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                File
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Artefacts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="fileName">
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    <a asp-route-id="@item.Id" class="addArtefactButton">Add</a> |
                    <a asp-route-id="@item.Id" class="removeArtefactButton">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <ul id="selectedArtefacts"></ul>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    var ls = [];
    function addHidden(Li, key, value) {
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = key; 'name-as-seen-at-the-server';
        input.value = value;
        document.getElementById("selctedArtefacts").appendChild(input);
    }

    $(".addArtefactButton").click(function (e) {
        e.preventDefault(); //this line prevents the form from refreshing each time
        var $item = $(this).closest("tr")
        var x = $item.find("td:nth-child(1)").text();
        var k = ls.includes(x);
        if (k === false) {
            ls.push(x);
            var node = document.createElement("li");
            var textNode = document.createTextNode(x);
            node.appendChild(textNode);
            addHidden(node, 'expArtefacts', x);
            node.appendChild(textNode);
            addHidden(node, 'expArtefacts', x);
            document.getElementById("selctedArtefacts").appendChild(node);
        } else {
            alert("Artefact Already Added");
        }    
    });

    $(".removeArtefactButton").click(function (e) {
        var $item = $(this).closest("tr")
        var x = $item.find("td:nth-child(1)").text();
        var k = ls.includes(x);
        if (k === false) {
            alert("Artefact not in List");
        } else {

        }
    });
</script>
