@model CJEngine.ViewModel.CreateExperimentViewModel;

@{
    ViewData["Title"] = "Index";
}

<h4>Add Artefacts</h4>

<table id="tblArtefact">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                File
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Artefacts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                <a asp-route-id="@item.Id">Add</a> |
                <a asp-route-id="@item.Id">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $("#tblArtefact td").click(function (e) {
        e.preventDefault(); //this line prevents the form from refreshing each time
        var tbl = document.getElementById("tblArtefact");
        if (tbl.innerHTML != null) {
            var row_num = parseInt($(this).parent().index()) + 1;
            var column_num = parseInt($(this).index()) - 2;
            var x = tbl.rows[row_num].cells[column_num].innerHTML;
            var node = document.createElement("li");
            var textNode = document.createTextNode(x);
            node.appendChild(textNode);
            document.getElementById("selctedArtefacts").appendChild(node);
        } else {
            alert("The Table is empty")
        }
     });
</script>
