@model CJEngine.ViewModel.CreateExperimentViewModel;
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Experiment</h1>

<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>-->
            <div class="form-group">
                <label asp-for="Experiment.Name" class="control-label"></label>
                <input asp-for="Experiment.Name" class="form-control" />
                <span asp-validation-for="Experiment.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experiment.Description" class="control-label"></label>
                <input asp-for="Experiment.Description" class="form-control" />
                <span asp-validation-for="Experiment.Description" class="text-danger"></span>
            </div>
                    <div>
                        <div id="partialUpdate" class="form-group">
                            <label asp-for="Experiment.ExperimentParameters" class="control-label"></label>
                            <select name="Parameters" onchange="java_script_:show(this.options[this.selectedIndex].value)"
                                    asp-for="Experiment.ExperimentParameters" class="form-control">
                                <option value="New">Choose Parameters</option>
                                @foreach (var item in Model.ExperimentParametersList)
                                {
                                    <option>@item.Description</option>
                                }
                            </select>
                            <br />
                            <button type="button" class="btn-secondary" data-toggle="modal" data-target="#parameters"> Create new</button>
                        </div>
                    </div>
            <div>
                <br />
                <partial name="~/Views/Artefacts/_IndexArtefacts.cshtml" />
            </div>
            <div>
                <br />
                <partial name="~/Views/Judges/_IndexJudges.cshtml" />
            </div>

            <div>
                <input type="submit" value="Create Experiment" class="btn btn-primary" />
            </div>
        </form>
        <div class="modal fade" id="parameters" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <partial name="~/Views/ExperimentParameters/_CreateParams.cshtml" />
                    </div>
                    <div class="modal-footer">
                        <button id="updateDrop" onclick="update()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    function show(val) {
        if (val == "New") {
            parameters.style.display= 'inline-block';
        }
        else {
            parameters.style.display = 'none';
        }
    }

    function ShowPopup(val) {
        if (val == "New") {
            parameters.style.display = 'inline-block';
        }
        else {
            parameters.style.display = 'none';
        }
        return false;
    }

    function update() {
        $.ajax({
            type:'POST',
            url: window.location,
            data: $('partialUpdate').serialize(),
            success: function (result) {
                $('#partial').html(result);
            }
        })
    }

</script>
