@model CJEngine.ViewModel.CreateExperimentViewModel;
<div>
    <div class="form-group">
        <label asp-for="Algorithms" class="control-label"></label>
        <select name="algorithms" asp-for="Algorithms" class="form-control" id="algorithmsList" onchange="this.options[this.selectedIndex].onclick()">
            !<!--<option value="New" class="dropdown-item" onclick=" document.getElementById('hiddenButtonA').click()">Upload new Algorithm...</option>-->
            @foreach (var item in Model.Algorithms)
            {
                <option>@item.Description</option>
            }
        </select>
        <button id="hiddenButtonA" type="button" data-target="#algorithmsModal" data-toggle="modal" role="button" hidden="hidden"></button>
    </div>
</div>