@model CJEngine.ViewModel.EditExperimentViewModel;

@{
    ViewData["Title"] = "Index";
}

<h4>Add Judges</h4>

<table id="tblJudge" class="col-md-10">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Judges)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-route-id="@item.Id" class="addJudgeButton">Add</a>
                </td>
            </tr>
        }
    </tbody>
</table>
