@model CJEngine.ViewModel.CreateExperimentViewModel;

@{
    ViewData["Title"] = "Index";
}

<h4>Add Judges</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Judges)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="AddJudge" asp-route-id="@item.Id">Add</a> |
                    <a asp-action="RemoveJudge" asp-route-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>