@model CJEngine.ViewModel.CreateExperimentViewModel;

@{
    ViewData["Title"] = "Create";
}

<h4>Experiment Parameters</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="text-danger"></div>
            <div class="form-group form-check">
                    <label class="control-label">Description</label>
                    <input id="description" type="text" />
            </div> 
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="checktitle" type ="checkbox" /> Show Title<br />
                </label>
            </div>
            <div class="form-group form-check" id="hideTime">
                <label class="form-check-label">
                    <input type="checkbox" id="checkTime" /> Show Time
                </label>
            </div>
            <div>
                <asp:Button runat="server" type="button" onclick="CreateParams()" class="btn btn-primary">Save changes</asp:Button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    function CreateParams() {
        var description = document.getElementById("description").value;
        var showTitle = document.getElementById("checktitle").checked;
        var showTimer = document.getElementById("checkTime").checked;
        fetch('/api/ExperimentParameters/CreateParams', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ description, showTimer, showTitle })
        }).then(function (response) {
            if (response.status !== 200) {
                console.log('fetch returned not ok' + response.status);
            }

            response.json().then(function (data) {
                console.log('fetch returned ok');
                console.log(data);
            });
        })
            .catch(function (err) {
                console.log(`error: ${err}`);
            });
    }
</script>