@model CJEngine.ViewModel.CreateExperimentViewModel;
<div>
    <div id="parametersList" class="form-group">
        <label asp-for="Experiment.ExperimentParameters" class="control-label"></label>
        <select name="Parameters" asp-for="Experiment.ExperimentParameters" class="form-control">
            <option value="Default">Select Saved Parameters</option>
            @foreach (var item in Model.ExperimentParametersList)
            {
                <option>@item.Description</option>
            }
            <option value="New">Create New Paramaters...</option>
        </select>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#parameters"> Create new</button>
    </div>
</div>
